<p id="notice"><%= notice %></p>

  
<h2>
  <%= @koan.title %>
</h2>

<p class="lead">
  <%= @koan.question %>
</p>

<p><%= button_tag 'Solution', class: "btn btn-primary active", onclick: "$('#solution').toggle();" %>
  </p>
<pre id="solution" style="display:none">
  <%= @koan.solution %>
</pre>
