<p id="notice"><%= notice %></p>

  
<h2>
  <%= @koan.title %>
</h2>

<%= simple_format @koan.question, class: "lead" %>

<p><%= button_tag 'Solution', class: "btn btn-primary active", onclick: "$('#solution').toggle();" %>
  </p>
<pre id="solution" style="display:none">
  <%= simple_format @koan.solution %>
</pre>
