<!DOCTYPE html>
<html>
<head>
  <title>KoanMaker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <navbar-header>
        <%= link_to 'SQL Koans', koans_path, class: "navbar-brand" %>
      </navbar-header>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'New Koan', new_koan_path %></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <% @koans.each do |koan| %>
             <li>
               <%= link_to koan.title, koan %>
             </li>
           <% end %>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-1 main">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
